@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 1000px;
    padding: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: white);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo
{
    line-height: 1.6em;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    max-width: 250px; 
    border: 1px solid rgb(0, 255, 179);
}

header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a{
    display: inline-flex;
    color: rgb(27, 35, 28);
    font-size: 20pt;
    font-weight: 400px;
    margin-left: 150px;
    text-decoration: none;
}
.content
{
    font-weight: 600px;
    font-size: 15pt;
    margin-left: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    line-height: 1.0em;
    position: center;
    max-width: 300px;
}
.content .textBox h2
{
    margin-left: 200px;
    color: rgb(34, 35, 32);
    font-size: 2.9em;
    line-height: 1.5em;
    font-weight: 100px;
    height: 100px;
    left: 25%;
}
.content .textBox h2 span
{
    color: rgb(23, 98, 15);
    font-size: 3.5em;
    font-weight: 900;
}
.content .textBox a
{
    margin-left: 100px;
    display: inline-block;
    margin-top: 420px;
    padding: 8px 20px;
    background: #0062ff;
    color: #fff;
    border-radius: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox
{
    width: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 100px;
    
}
.content .imgBox img
{   
    max-width: 230px;
    
}
.thumb
{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li img
{
    max-width: 70px;
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00a6ff;
    clip-path: circle(600px at right 800px);
    
}

.container {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: rgb(0, 183, 255);
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.container .card img {
    transition: 0.5s;
}

.container .card h1 {
    font-size: 2rem;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content p {
    color: #666;
    transition: 0.5s;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover {
    background-color: aquamarine;
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #0077ff;
    border-color: aqua;
}

.container .card:hover img {
    filter: invert(1);
}

.container .card:hover .content p {
    color: white;
}

.container .card:hover .content a {
    color: black;
    background-color: white;
}